<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Northwind_DSN"
     value="Trusted_Connection=yes;server=localhost;Initial Catalog=Northwind" />
  </appSettings>

  <system.web>
    <compilation defaultLanguage="vb" debug="true" />
    <customErrors mode="RemoteOnly" />
    <authentication mode="Windows" /> 
    <authorization>
        <allow users="*" />
    </authorization>
    
    <identity impersonate="true" />

    <trace enabled="false" requestLimit="10" pageOutput="false"
           traceMode="SortByTime" localOnly="true" />
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>

  <system.runtime.remoting>
    <application>
      <channels>
	  <channel ref="http"/>
      </channels>
      <service>
        <wellknown mode="Singleton"
            type="NorthwindTraders.NorthwindDC.RegionDC, NorthwindDC"
            objectUri="RegionDC.rem"/>
        <wellknown mode="Singleton"
            type="NorthwindTraders.NorthwindDC.LogErrorDC, NorthwindDC"
            objectUri="LogErrorDC.rem"/>
        <wellknown mode="Singleton"
            type="NorthwindTraders.NorthwindDC.MenuDC, NorthwindDC"
            objectUri="MenuDC.rem"/>
        <wellknown mode="Singleton"
            type="NorthwindTraders.NorthwindDC.TerritoryDC, NorthwindDC"
            objectUri="TerritoryDC.rem"/>
      </service>
    </application>
  </system.runtime.remoting>

</configuration>
